<p id="notice"><%= notice %></p>

<h1>Listing Advertisings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Imageurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisings.each do |advertising| %>
      <tr>
        <td><%= advertising.Title %></td>
        <td><%= advertising.Description %></td>
        <td><%= advertising.ImageUrl %></td>
        <td><%= link_to 'Show', advertising %></td>
        <td><%= link_to 'Edit', edit_advertising_path(advertising) %></td>
        <td><%= link_to 'Destroy', advertising, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertising', new_advertising_path %>
