<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section id="content">
  <div class="form-group">
    <%= f.label :title,"Título"%><br>
    <%= f.text_field :title , class:"form-control", placeholder:"Título" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", placeholder:"Descrição", rows:"3" %>
  </div>
  <div class="form-group">
    <%= f.label :bid %><br>
    <%= f.number_field :bid , class:"form-control", placeholder:"Bid"%>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url , class:"form-control", placeholder:"http://"%>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class:"btn btn-lg btn-primary btn-block" %>
  </div>
</section>
<br>
<% end %>
