<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </div>
  <div class="field">
    <%= f.label :ImageUrl %><br>
    <%= f.text_field :ImageUrl %>
  </div>
  <div class="field">
    <%= f.label :DisplayTime %><br>
    <%= f.number_field :DisplayTime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
