<%= form_for(@ads_list) do |f| %>
  <% if @ads_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ads_list.errors.count, "error") %> prohibited this ads_list from being saved:</h2>

      <ul>
      <% @ads_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form-group">
    <%= f.label "Selecione as propagandas que você deseja exibir:" %></br>
    <%= f.collection_select :advertisement_ids, @ads, :id, :title, {:class => "form-control"},
    {:multiple => "multiple", :class => "form-control", :data => {:placeholder => 'Selecione uma ou mais propagandas.' }} %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Enviar", class:"btn btn-lg btn-primary btn-block" %>
  </div>
  <br>
<% end %>
<!-- Initialize the plugin: -->
<script type="text/javascript">
    $(document).ready(function() {
        $("#ads_list_advertisement_ids").chosen({no_results_text: "Ops, nada encontrado!"});
    });
</script>
