<%= form_for(@ads_list) do |f| %>
  <% if @ads_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ads_list.errors.count, "error") %> prohibited this ads_list from being saved:</h2>

      <ul>
      <% @ads_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :total_profit %><br>
    <%= f.number_field :total_profit %>
  </div>
  <div class="field">
    <%= f.label "Select the ads you want to show" %>
    <%= f.collection_select :advertisement_ids, @ads, :id, :title, {}, 
    {:multiple => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
