<p id="notice"><%= notice %></p>

<h1>Listing Ads Lists</h1>

<table>
  <thead>
    <tr>
      <th>Totalprofit</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads_lists.each do |ads_list| %>
      <tr>
        <td><%= ads_list.total_profit %></td>
        <td><%= ads_list.code %></td>
        <td><%= link_to 'Show', ads_list %></td>
        <td><%= link_to 'Edit', edit_ads_list_path(ads_list) %></td>
        <td><%= link_to 'Destroy', ads_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ads list', new_ads_list_path %>
