<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @ads_list.UserId %>
</p>

<p>
  <strong>Totalprofit:</strong>
  <%= @ads_list.TotalProfit %>
</p>

<%= link_to 'Edit', edit_ads_list_path(@ads_list) %> |
<%= link_to 'Back', ads_lists_path %>
