<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @ads_list.user_id %>
</p>

<p>
  <strong>Totalprofit:</strong>
  <%= @ads_list.total_profit %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ads_list.code %>
</p>


<strong>Ads:</strong>
<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th width="2%">#</th>
      <th width="18%">Título</th>
      <th width="60%">Descrição</th>
      <th width="20%"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads_list.advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.id %></td>
        <td><%= advertisement.title %></td>
        <td><%= advertisement.description %></td>
        <td><%= link_to 'Show', advertisement %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="btn-group" role="group" aria-label="...">
<%= link_to 'Edit', edit_ads_list_path(@ads_list), class:"btn btn-default" %>
<%= link_to 'Back', ads_lists_path, class:"btn btn-default" %>
</div>
