<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @ads_list.user_id %>
</p>

<p>
  <strong>Totalprofit:</strong>
  <%= @ads_list.total_profit %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ads_list.code %>
</p>

<p>
  <strong>Ads:</strong>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads_list.advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <td><%= link_to 'Show', advertisement %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Edit', edit_ads_list_path(@ads_list) %> |
<%= link_to 'Back', ads_lists_path %>
